*~
*.o
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
config.h
config.h.in
config.log
config.status
configure
.deps
e2tools
INSTALL
Makefile
Makefile.in
lib/Makefile
lib/Makefile.in
lib/arg-nonnull.h
lib/c++defs.h
lib/inttypes.h
lib/warn-on-use.h
lib/libgnu.a
stamp-h1
